*{
  box-sizing: border-box;
  font-family: 'Bebas Neue', sans-serif;
font-family: 'Borel', cursive;
font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Teko', sans-serif;
font-family: 'Ubuntu Condensed', sans-serif;
font-family: 'Ysabeau Office', sans-serif;
}
a{
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}
body{
  color: #222;
  margin: 0;
padding: 0;
padding-top: 0px;
font-family: monospace;
max-width: 100vw;
background-color: rgb(255, 249, 249);
}
img{

  width:  100%;
  height: 200px;
  object-fit: cover;
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}
main{
  padding: 0px;
  max-width: 55%;  
  margin: 0 auto;
}
header{
  display:flex;
  justify-content:space-around;
   align-items: center;
   position: sticky;
  top: 0px;
  padding-top: 0px;
  background-color: #ffc017;
}



header a{
  text-decoration:none;
  color: inherit;

}
header a.logo{
  font-weight: bold;
  font-size: 1.5rem;
}
header nav{
  display:flex;
  gap: 25px;
}

div.post{
  display: grid;
  grid-template-columns: 0.9fr 1.1fr;
  gap: 18px;
  margin-bottom: 20px;
  margin-top: 15px;
  padding: 20px
}
.logos{
  text-decoration: underline;
}
div.post div.texts h2{
  font-size: 1.8rem;
  font-weight: 590;
  margin-top: 0px;
}

p.post p.info{
  margin: 6px 0;
  color:#222;
  font-size: 7rem;
  font-weight: bold;
  display: flex;
  gap: 10px;
}

.author{
  font-weight: 600;

}

div.post p.info a.author{
  color:#333;
}

div.post p.summary{
  margin: 10px 0;
  line-height: 1.2rem; 
}
time{
  font-weight: 300;
}

.Log{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  background-color: rgb(243, 243, 243);
  margin-top: 20px;
}

.login {
  float: left;
  width: 44%;
  padding: 10px;
  margin: 10px 22px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
/* Should be removed. Only for demonstration */
}
.Log:after {
  content: "";
  display: table;
  clear: both;
}



.login input{
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-bottom: 1px solid black;

  background-color: rgb(250, 249, 249);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.login button{
  margin-top: 17px;
  border-radius: 10px;
  border: none;
  padding: 7px;
  width: 60%;
  margin-left: 70px;
  background-color: rgb(224, 224, 224);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
} 


.headingLR{
  margin-top: 17px;
  text-align: center;
  font-weight: 400;
  font-size: 40px;
}

div.postpage div.image{
  min-height: 200px  ;
}


.main_logo {
  font-weight: 500;
  display: flex;
  justify-content: center;
align-items: center;
gap: 5px;
}

.post_img{
  margin-top: 10px;
  height:330px;
  object-fit:cover;
}

.log_img{
  height: 500px;
}

.edit-content{
  text-align: center;
}

.edit{
  color:red;
}
.edit_main{
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 6px;
}

.icon_pen{
  width: 13px;
}